@font-face {
    src: url('fonts/Goldoni_DEMO.otf');
    font-family: "title font";
}

body {
    margin: 0px;
    /* margin-left: auto;
    margin-right: auto;
    /*width: 1366px; */
    /* color: #011627; */
    background-color: #011627;
    overflow-x: hidden;
}

h1 {
    width: 100%;
    margin: 0px;
    font-family: "Playfair Display", serif;
    font-size: 2.3em;
}

#header {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

#main {
    background-color: #B098A4;
    color: #011627;
    font-size: 3em;
    width: 100%;
}

#footer {
    text-align: center;
    height: 30px;
    line-height: 20px;
    background-color: #011627;
    color: #DBDBDB;
} 
#navbar {
    background-color: #DBDBDB;
}

#navbar a {
    text-decoration: none;
    color: #011627;
}

#navbar li {
    display: block;
    height: 29px;
    line-height: 30px;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid darkgray;
}

#top-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#top-menu li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}
#navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sub-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
}

#sub-menu-1 {
    width: 100%;
}

#sub-menu-2 {
    width: 66%;
}

#sub-menu-3 {
    width: 50%;
}

#sub-menu-4 {
    width: 50%;
}

#navbar li {
    /* width: 341px; */
    text-align: center;
}

.sub-menu li {
    background-color: #DBDBDB;
    color: #000000;
    height: 30px;
    line-height: 30px;
}

#top-menu ul {
    position: absolute;
    display: none;
}

#navbar a:hover {
    border-bottom: 2px solid #B098A4;
}

.sub-menu li:hover {
    background-color: #B098A4;
}

#navbar li:hover > ul {
    display: block;
}