
body {
    background-color: lightblue;
    margin: 0px;
}

h1 {
    margin: 0px;
}

#header {
    height: 600px;
    text-align: center;
    line-height: 600px;

    background-image: url("img/bp_cover.jpg");
    background-size: cover;
    background-position: center;

    color: white;
    text-shadow: 0px 0px 5px #000;
    font-size: 2em;
}

#main {
    background-color: aliceblue;
    width: 600px;
    /* margin-left: auto;
    margin-right: auto; */

    border: 1px solid rgb(240, 248, 255);
    padding: 25px;
}

#footer {
    background-color: cadetblue;
    text-align: center;
    color: snow;
    height: 60px;
    line-height: 60px;
    margin-top: 0px;
}
